/* Universal */

html, body {
   margin:0;
   padding:0;
   height:100%;
   background-color: #fffcf7;
   font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}

#container {
   min-height:100%;
   position:relative;
}

/* Header */

header {
  background: #f3efe7;
  padding:10px;
  border-bottom: solid 1px #c2c0be;
}

nav {
	margin: 0 auto;
	width: 980px;
	text-align: right;
}

nav #nav-brand {
	color: black;
	margin-top: -5px;
	margin-left: 22px;
	font-size: 30px;
	float:left;
}

nav #nav {
	position: relative;
	width: 600px;
	right: -310px;

}

nav #nav li {
	display: inline-block;
	color: #396494;
	letter-spacing: 1px;
	font-size: 24px;
}

nav #nav a {
	padding-right: 30px;
	text-decoration: none;
}

/* Main Content */

#content {
	position: relative;
	top: 10px;
	height: 100%;
	width: 1000px;
	background-image: url("../img/home_nav.png");
	background-repeat: no-repeat;
	background-position: 500px 20px;	
	margin: 0px auto;
	padding-bottom: 60px;
}

#brand_logo {
	display:block;
  margin:auto;
}

#main {
	font-size: 24px;
	width: 400px;
	padding-top: 40px;
	margin-left: 100px;
}

#kicker {
	color: #943964;
	font-style: italic;
	letter-spacing: 2px;
}

#nav {
	width: 450px;
	padding-left: 60px;
}

#nav a {
	color: #396494;
	text-decoration: none;
}

#nav a:hover {
	color: black;
}

h3 img {
	margin-right: 20px;
}

h3 span {
	position: relative;
	top: -15px;
}

/* Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;   /* Height of the footer */
  background: #f3efe7;
  text-align: center;
  border-top: solid 1px #c2c0be;

}

footer p {
	margin-top: 22px;
	font-size: 10px;
}

/* Miscellaneous */

#preload1 {
	background: url("../img/github_nav.png") no-repeat;
	display: none;
}
#preload2 {
	background: url("../img/dribbble_nav.png") no-repeat;
	display: none;
}
#preload3 {
	background: url("../img/twitter_nav.png") no-repeat;
	display: none;
}
#preload4 {
	background: url("../img/email_nav.png") no-repeat;
	display: none;
}
#preload5 {
	background: url("../img/nav_nav.png") no-repeat;
	display: none;
}